* {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

section {
    border: seagreen 2px solid;
    background-color: #1586864b;
    width: 400px;
    margin: 0 auto;
    padding: 10px;    
    border-radius: 15px 0px;
    
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

.tamanhoLabel {
    width: 300px;
}

#status, #evoluido {
    text-align: center;
}

#evoluido {
    float: right;
    text-align: center;
}

textarea {
    vertical-align: top;
    width: 295px;
    float: right;
}

.button {
    font-weight: bold;    
    font-size: 20px;
    margin-top: 15px;
    border-radius: 4px;
    width: 90px;
    border: 0px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}

.button:hover {
    background-color: red;
    color: seashell;
    transition: 2s;
    box-shadow: 0px 0px 10px 10px #ff00009f;
    border: black 1px solid;    
}

.item {
    width: 400px;
}

label {
    margin-right: 10px;
}

.comprimetoLabel {
    width: 100px;
    text-align: right;
}

.blocosExternos {
    display: flex;
}

.inNumeros {
    width: 80px;
}

.ataqueDefesa {
    display: flex;    
}

#poder{
    align-items: center;
    justify-content: space-between;
}
