* {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    border: black 1px solid;
    /* border: 1px solid; */
}

form {
    background-color: #1586864b;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 15px;
    margin-top: 20px;
    border-radius: 15px 0px;
}

h1 {
    text-align: center;
}

/* #nome input {
    width: 300px;
    margin-left: 10px;
}

#status input {
    width: 60px;
} */

.tamanho {
    width: 100px;
}

#status, #evoluido {
    text-align: center;
}

#evoluido {
    /* float: right; */
    /* margin-top: -56px; */
    margin-right: 50px;
}

textarea {
    vertical-align: top;
    width: 285px;
}

#poder {
    display: flex;
}

/* #tipos select {
    width: 305px;
    margin-left: 22px; */

}

button {
    font-weight: bold;
    margin-left: 170px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 5px;
    width: 70px;
    border: 0px;
    height: 30px;
}

button:hover {
    background-color: red;
    color: seashell;
}

.item {
    width: 130px;
}

label {
    width: 150px;
}

.comprimetoLabel {
    width: 80px;
    text-align: right;
}

#descricao {
    display: flex;
}

/* display: flex; alinhamento em lina
width: fit-content; tamanho do pai = ao tamanho máximo dos filhos
*/