*{
    margin: 0 auto;
    border-radius: 3px;
    border-color: chocolate;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 200px;
}

div{
    border: 1px solid black;
    text-align: center;  
}

button{
    border: 0px;
    background-color: burlywood;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 3px;
}

button:hover{
    background-color: crimson;
    color: white;
    font-weight: bold;
}