/*Zerar o CSS*/
body, ul, li, p{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
} 

.header{
    background-color: #1d1e20;
    font-size: 20PX;
    display: flex;
    flex-wrap: wrap; /* verificar o que faz depois */
    justify-content: space-between; /* Ajusta os componente que estiverem ho container de forma igual */
    padding: 20px;
    align-items: center; /*Alinha os item do conhteiner de forma centralizada na altura*/
}

.menu{
    display: flex;
}

#titulo {
    font-size: 40px;    
}

.menu li{
    margin-left: 10px;
}

.menu li a{    
    padding: 10px;
    display: block;
}

h1{
    text-align: center;
    margin-top: 100px;
}

p{
    font-size: 25px;    
}

img{
    max-width: 100%; /* deixa as imagens com o tamanho máximo do container delas e consequentemente RESPONSIVAS */
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;/* verificar para que serve */
    text-align: center;
    margin: 10px;
}