* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0 auto;
}

section {
    /* background-color: brown; */
    display: flex;
    width: 800px;
    text-align: center;
    margin-top: 50px;
}

#notas {
    margin-bottom: 100px;
}

button{
    border: 0px;
    background-color: crimson;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}