* {
    font-family: Arial, Helvetica, sans-serif;
}

.areaComponentes, .divs-atributos  {
    margin: 0 auto;
}

.areaComponentes {
    background-color: #becfee;
    border-radius: 6px;
    margin-bottom: 1px;
    padding: 10px 0px;
    text-align: center;
}

.divs-atributos {
    margin-top: 25px;
    border-radius: 5px;
    width: 500px;
    align-items: center;
}

.lbDanceteria{
    text-align: right;
    font-weight: bold;
}