*{
    font-family: Arial, Helvetica, sans-serif;
}

.postit{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 1px;
    margin-bottom: 5px;
    border: 1px black solid;
}