* {
    font-family: Arial, Helvetica, sans-serif;
}

.areaComponentes {
    margin-top: 0 auto;
    background-color: #becfee;
    border-radius: 6px;
    margin-bottom: 1px;
    padding: 10px 0px;
    text-align: center;
}

.divs-atributos {
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 5px;
    width: 500px;
    align-items: center;
}